SECRET_KEY=django-insecure-3zuy&)8omgw^5i7v6qt1qouom&^l6fsq2eo)z4o(0f5(s)bong
DEBUG=True

DB_NAME=blog_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/0
